.titles {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 40px;
  width: 85%;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 8px;
  margin-left: 5%;
  margin-right: auto;
  text-align: center;
  box-shadow: 5px 5px 3px #888888;
}
.previewImage {
  height: 105px;
  width: 65px;
}

.loadedImage {
  box-shadow: 5px 5px 3px #004d66;
}